#opener {
    background-color: #333333;
    margin: auto;
}

#opener h1 {
    text-align: center;
    color: white;
    background-color: #333333;
    height: 50px;
}

#opener ul {
    text-align: center;
    background-color: #333333;
}

#opener li {
    display: inline;
    margin: 30px;
}

#opener a {
    text-decoration: none;
    color: #ffff;
    font-size: larger;
}

#left {
    margin-left: 25px;
    /* width: 1000px; */
    background-color: #f2f2f2;
}

#left img {
    
}
